@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: linear-gradient(120deg, rgba(9, 136, 143, 0.5) 0%, rgba(57, 112, 190, 0.671) 100%), url(../Assets/img2.jpg);
    font-family: 'Oxygen', sans-serif;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.container
{
    background: rgba(251, 253, 255, 0.993);
    width: 100%;
    max-width: 450px;
    margin: auto;
    border-radius: 1em;
    padding: 3.5em 1.5em; 
    box-shadow: 0 0 6px rgba(0, 0, 5, 0.11); 
}

.form__contac
{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.contac__title
{
    color: #0f35dde7;
    font-size: 2rem;
    text-align: center;

}
.contac__subtitle
{
    color: rgb(106, 106, 107);
    font-size: 1rem;
    text-align: center;
    margin-bottom: .3em;

}

.form__input
{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #ced2d6;
    border-radius: .3rem;

}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;

}

.form__btn
{
    font-family: 'Oxygen', sans-serif;
    background-color: #14a1dd;
    color: #fff;
    border: none;
    font-size: 300;
    padding: .7em 0;
    border-radius: .5em;
    cursor: pointer;
    font-size: 1.1rem;

}

.form__btn:hover
{
    background-color: #09658d;

}


@media  screen and (max-width:750px) 
{
    .container
    {
        padding: 3em 1em;
    }

}    